.home {
  height: 100vh;
  position: relative;
  padding-bottom: env(safe-area-inset-bottom);
  overflow: hidden;
  overflow-y: hidden;

  .header {
    background-color: #a03cf7;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 1.5rem;
      font-weight: 800;
      color: white;
    }
  }

  .main {
    height: 100%;
    overflow-y: scroll;
    padding: 1.2rem;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 0.1rem solid #dfdfdf;
    padding-top: 0.5rem;
    padding-bottom: env(safe-area-inset-bottom);
  }
}
